In [ ]:
import pandas as pd

In [ ]:


data = {
    'EmployeeID': [101, 102, 103, 104, 105, 106, 103, 107],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', np.nan, 'Frank', 'Charlie', 'Helen'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', np.nan, 'Finance', 'IT'],
    'Salary': [50000, 60000, 70000, np.nan, 52000, 58000, 70000, 62000],
    'JoiningDate': ['2020-01-15', '2019-03-10', '2021-06-25', '2018-11-05', '2020-09-01', '2022-01-20', '2021-06-25', np.nan]
}
df = pd.DataFrame(data)
print(df)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT      NaN  2018-11-05
4         105      NaN         HR  52000.0  2020-09-01
5         106    Frank        NaN  58000.0  2022-01-20
6         103  Charlie    Finance  70000.0  2021-06-25
7         107    Helen         IT  62000.0         NaN

In [ ]:
df1 = df.ffill(limit=1)
print(df1)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT  70000.0  2018-11-05
4         105    David         HR  52000.0  2020-09-01
5         106    Frank         HR  58000.0  2022-01-20
6         103  Charlie    Finance  70000.0  2021-06-25
7         107    Helen         IT  62000.0  2021-06-25

In [ ]:
df3 = df.copy()
df3 = df3.bfill()
print(df3)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT  52000.0  2018-11-05
4         105    Frank         HR  52000.0  2020-09-01
5         106    Frank    Finance  58000.0  2022-01-20
6         103  Charlie    Finance  70000.0  2021-06-25
7         107    Helen         IT  62000.0         NaN

In [ ]:
df4 = df.dropna()
print(df4)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
6         103  Charlie    Finance  70000.0  2021-06-25

In [ ]:
df5 = df.replace({np.nan: 'Unknown'})
print(df5)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT  Unknown  2018-11-05
4         105  Unknown         HR  52000.0  2020-09-01
5         106    Frank    Unknown  58000.0  2022-01-20
6         103  Charlie    Finance  70000.0  2021-06-25
7         107    Helen         IT  62000.0     Unknown

In [ ]:
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

   EmployeeID     Name Department   Salary JoiningDate
2         103  Charlie    Finance  70000.0  2021-06-25
6         103  Charlie    Finance  70000.0  2021-06-25

In [ ]:
df6 = df.drop_duplicates(subset='EmployeeID', keep='first')
print(df6)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT      NaN  2018-11-05
4         105      NaN         HR  52000.0  2020-09-01
5         106    Frank        NaN  58000.0  2022-01-20
7         107    Helen         IT  62000.0         NaN

In [ ]:
df7 = df.loc[df['Department'].notna()]
print(df7)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT      NaN  2018-11-05
4         105      NaN         HR  52000.0  2020-09-01
6         103  Charlie    Finance  70000.0  2021-06-25
7         107    Helen         IT  62000.0         NaN

In [ ]:
df8 = df.groupby('EmployeeID').first().reset_index()
print(df8)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
3         104    David         IT      NaN  2018-11-05
4         105     None         HR  52000.0  2020-09-01
5         106    Frank       None  58000.0  2022-01-20
6         107    Helen         IT  62000.0        None

In [ ]:
df9 = df.isnull().sum()
print(df9)

EmployeeID     0
Name           1
Department     1
Salary         1
JoiningDate    1
dtype: int64

In [ ]:
df10 = df.dropna()
print(df10)

   EmployeeID     Name Department   Salary JoiningDate
0         101    Alice         HR  50000.0  2020-01-15
1         102      Bob         IT  60000.0  2019-03-10
2         103  Charlie    Finance  70000.0  2021-06-25
6         103  Charlie    Finance  70000.0  2021-06-25